.sideBar {
  position: relative;
  background-image: url("../../assets/img/sidebar.svg");
  background-size: cover;
  width: 300px;
  height: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  box-sizing: border-box;
}
.step {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.stepDisabled {
  cursor: not-allowed;
  pointer-events: none;
}
.stepNombre {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--White);
}
.stepNombreChoisi {
  background-color: var(--Light_blue);
}
.stepNombre p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--White);
}
.stepNombreChoisi p {
  color: var(--Black) !important;
}
.stepNom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stepNom p {
  margin: 0;
}
.stepNom p:first-of-type {
  color: var(--Pastel_blue);
  font-size: 14px;
  font-weight: 500;
}
.stepNom p:last-of-type {
  color: var(--White);
  font-size: 16px;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .sideBar {
    width: 250px;
    height: 550px;
  }
}
@media screen and (max-width: 768px) {
  .sideBar {
    width: 90vw;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    background-position: bottom;
  }
  .step {
    flex: 1;
  }
}
@media screen and (max-width: 375px) {
  .step {
    flex: initial;
    width: 80vw;
  }
}
